@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  --background-color: #212529;
  --text-color: #ede6f2;
  --side-dark: #25292D;
  --text-font: 'Montserrat', sans-serif;
  --text-size: 12px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color) !important;
  color: var(--text-color) !important;
  font-family: var(--text-font) !important;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}