@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
  --background-color: #1C1F22;
  --tag-color: #a6a2a2;
  --text-color: #ffffff;
  --side-dark: #25292D;
  --title-font: Helvetica, sans-serif;
  --text-font: 'Roboto Mono', monospace;
  --title-size: 60px;
  --text-size: 12px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color) !important;
  color: var(--text-color) !important;
  font-family: var(--title-font);
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}