.container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
	margin-top: 2rem;
}

.sub-container {
  display: flex;
  flex-direction: row !important;
  margin-top: 20px;
}

.img {
  width: auto;
  height: 425px !important;
  margin-right: 50px;
}

.text-container {
  text-align: left;
  width: 100%;
  overflow: hidden;
}

.text-container p:last-child {
  max-height: 177px; 
  overflow: hidden;
  text-overflow: ellipsis; 
  margin-bottom: 10px; 
}

.name {
	font-size: 24px;
	font-weight: 600;
}

.p {
	font-size: var(--text-size);
}

.price {
	font-size: 36px;
	font-weight: 600;
}

.editorial-logo {
	max-height: 50px;
	margin-bottom: 10px;
}

@media screen and (max-width: 769px) {
	.sub-container {
		flex-direction: column !important;
	}

	.img {
		width: auto;
		height: 450px !important;
		margin: 0;
		align-self: center !important;
		justify-self: center !important;
	}

	.text-container p:last-child {
    max-height: none;
    overflow: visible;
    text-overflow: clip;
  }

	.name {
		margin-top: 20px;
	}
}

	@media screen and (max-width: 576px) {
		.name {
			font-size: 16px;
			margin-top: 20px;
		}

		.price {
			font-size: 24px;
		}
	}

