.card {
	display: flex;
	overflow: hidden;
	border-radius: 1rem;
	max-width: 20rem;
	min-width: 18rem !important;
	max-height: 10.5rem;
}

.img-fluid {
	max-width: 7rem !important;
	max-height: 10.5rem;
	height: 100%;
	margin-right: 10px !important;
}

.card-title {
	font-size: 16px;
	font-weight: 600;
	height: 1.5rem;
	margin-top: 10px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.card-text {
	font-size: var(--text-size);
}

.card-price {
	font-size: 28px;
}

@media screen and (max-width: 1100px) {
	.card {
		min-width: 18rem;
	}

	.card-title {
		font-size: 14px;
	}

	.card-text {
		margin-bottom: 5px;
	}

	.card-price {
		margin-top: 20px;
	}
}

@media screen and (max-width: 767px) {
	.card {
		padding: 10px;
		max-width: 10.25rem;
		min-width: 10.25rem !important;
		min-height: 18rem;
		text-align: center;
	}

	.img-fluid {
		min-height: 13rem;
		min-width: 8.75rem;
		border-radius: 0 !important;
		margin-right: 0 !important;
	}
	
	.card-title {
		font-size: 12px;
		margin: 0px !important;
	}
	
	.card-text {
		display: none;
	}

	.card-price {
		margin-top: -5px;
		font-size: 16px;
	}

}