.card {
	display: flex;
	overflow: hidden;
	border-radius: 1rem;
	width: 22rem;
	max-width: 22rem;
	min-width: 18rem;
	max-height: 12rem;
}

.img-fluid {
	max-width: 8rem !important;
	max-height: 12rem;
	height: 100%;
}

.card-title {
	font-family: var(--title-font);
	font-size: 16px;
	font-weight: 600;
	height: 2rem;
	margin: 10px 15px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.card-text {
	font-family: var(--text-font);
	font-size: var(--text-size);
}

.card-price {
	font-family: var(--text-font);
	font-size: 36px;
}

@media screen and (max-width: 1100px) {
	.card {
		min-width: 18rem;
	}

	.card-title {
		font-size: 12px;
	}

	.card-text {
		font-size: 10px;
		margin-bottom: 5px;
	}

	.card-price {
		margin-top: 20px;
	}
}

@media screen and (max-width: 767px) {
	.card {
		padding: 15px;
		width: 18rem;
		min-height: 27.5rem;
	}

	.img-fluid {
		min-height: 22rem;
		min-width: 15.5rem;
	}
	
	.card-title {
		margin-top: -5px;
	}
	
	.card-text {
		display: none;
	}

	.card-price {
		margin-top: -20px;
		font-size: 16px;
	}

}